In [3]:
import pandas as pd
df = pd.read_csv("./data/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
inputs = df.drop('salary_more_then_100k', axis='columns')
inputs

In [ ]:
target_variable = df['salary_more_then_100k']
target_variable

In [ ]:
# change the input labels into the numbers for machine learning model

In [ ]:
# we will use the simple label encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [ ]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [ ]:
inputs

In [ ]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')   # OR inplace is True

In [ ]:
inputs_n

In [ ]:
# decision tree model

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs_n, target_variable)

In [ ]:
model.score(inputs_n, target_variable)    # simple decision tree and there is no train test split

In [ ]:
model.predict([[2, 1, 0]])    # computer programmer in Google having degree of bachelors

In [ ]:
model.predict([[2, 1, 1]])

# Exercise

In [1]:
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("./data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
columns_to_drop = ['PassengerId', 'Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']
inputs = df.drop(columns=columns_to_drop, axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [6]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [7]:
target_variable = df['Survived']
target_variable.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [9]:
inputs['sex_n'] = le_sex.fit_transform(inputs['Sex'])

In [10]:
inputs

     Pclass     Sex        Age     Fare  sex_n
0         3    male  22.000000   7.2500      1
1         1  female  38.000000  71.2833      0
2         3  female  26.000000   7.9250      0
3         1  female  35.000000  53.1000      0
4         3    male  35.000000   8.0500      1
..      ...     ...        ...      ...    ...
886       2    male  27.000000  13.0000      1
887       1  female  19.000000  30.0000      0
888       3  female  29.699118  23.4500      0
889       1    male  26.000000  30.0000      1
890       3    male  32.000000   7.7500      1

[891 rows x 5 columns]

In [11]:
inputs_n = inputs.drop('Sex', axis='columns')

In [12]:
inputs_n

     Pclass        Age     Fare  sex_n
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

In [29]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n,target_variable,test_size=0.2)

In [22]:
len(X_train)

712

In [23]:
len(X_test)

179

In [24]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [25]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
model.score(inputs_n, target_variable)    # simple decision tree and there is no train test split

0.941638608305275

In [19]:
# prediction

In [20]:
model.predict([[3, 22, 7.2500, 1]])

/home/kashiii/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])